<?xml version="1.0"?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <clear />
      <add name="Jet Entity Framework Provider" invariant="JetEntityFrameworkProvider" description="Jet Entity Framework Provider" type="JetEntityFrameworkProvider.JetFactory, JetEntityFrameworkProvider"/>
    </DbProviderFactories>
  </system.data>
</configuration>